/* Universal Selector CSS Starting*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
}
/* Universal Selector CSS Ending*/

/* Body CSS Starting*/
body {
  min-height: 100vh;
  background-color: #ffffff;
}
/* Body CSS Ending */

/* Navbar CSS Starting*/
nav {
  background-color: #4B67E9;
  height: 80px;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

label.logo {
  color: white;
  font-size: 36px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: 700;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 26px;
  font-weight: bold;
}

nav ul li a {
  color: #ffffff;
  font-size: 17px;
  padding: 7px 13px;
  text-transform: uppercase;
}

a.active,a:hover{
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: #ffffff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
/* Navbar CSS Ending*/

.main-heading {
  padding: 50px;
  text-align: center;
}

.content-heading {
  font-size: 36px;
  font-weight: bold;
  /* margin-bottom: 0px; */
}

/* Landing Page Card CSS Starting*/

.container-cards-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: auto; */
  /* padding: auto; */
}

.card-container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.card {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  /* width: 30%;
    height: 300px; */
  width: 376px;
  height: 376px;
  padding: 50px;
  /* margin-bottom: 30px; */
  position: relative;
  margin: 0 30px;
}

.card-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-footer {
  margin-top: 50px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}

.card-button {
  position: absolute;
  width: 211px;
  height: 83px;
  bottom: -140px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  color: #4B67E9;
  padding: 10px 20px;
  border: 4px solid #4B67E9;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.card-button:hover {
  background-color: #4B67E9;
  color: #ffffff;
}

/* Landing Page Card CSS Ending*/

/* FAQ Page CSS Starting */
.accordion-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.accordion {
  margin: 10px 0;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 56px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  /*   box-shadow: inset 5px 5px 10px #bfc7d4, inset -5px -5px 10px #ffffff; */
}

.accordion-header:hover {
  box-shadow: inset 2px 2px 5px #bfc7d4, inset -2px -2px 5px #ffffff;
}

.accordion-toggle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2d3c4f;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  padding: 0 10px;
  transition: max-height 0.3s ease;
  color: #000000;
}

.accordion.active .accordion-body {
  max-height: 500px;
  padding: 10px;
  padding-left: 30px;
}

/* FAQ Page CSS Ending */

/* Contact Page CSS Starting */
.contact-container {
  background-color: #ffffff;
  padding: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 90px;
}

.contact-page-heading {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 60px;
}

.contact-page-form {
  display: flex;
  flex-direction: column;
}

.contact-page-label {
  font-size: 1.2rem;
  margin-top: 10px;
}

input,
textarea {
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  box-shadow: inset 5px 5px 10px #d9d9d9, inset -5px -5px 10px #ffffff;
  width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.btn-send-message {
  margin-top: 30px;
  padding: 10px;
  border: none;
  background-color: #ffffff;
  color: #4B67E9;
  cursor: pointer;
  border: 4px solid #4B67E9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  width: 250px;
  height: 83px;
  display: block;
  margin: 0 auto;
}

.btn-send-message:hover {
  background-color: #4B67E9;
  color: #ffffff;
}

/* Contact Page CSS Ending */

/* Explore Page CSS Starting */
.learning-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore-button {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  color: #4B67E9;
  cursor: pointer;
  padding: 10px 20px;
  outline: none;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  border: 4px solid #4B67E9;
  height: 83px;
  margin-left: 2rem;
}

.explore-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #4B67E9;
  color: #ffffff;
  transform: translateY(-3px);
}

.explore-image {
  max-width: 100%;
  height: auto;
  margin-top: 50px;
}

/* Explore Page CSS Ending */

/* Default styles */
.main-heading-tip-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  text-align: center;
}

.disclaimer-tip-card {
  font-size: 18px;
  color: red;
  margin-top: 50px;
}

.tip-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tip-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.tip-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #f0f0f0; */
  background-color: #ffffff;
  padding: 30px;
  /* border-radius: 20px;
  box-shadow: 10px 10px 20px #bcbcbc, -10px -10px 20px #ffffff; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  max-width: 600px;
}

.tip-card-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 40px;
}

#tip-text {
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 40px;
  /* justify-content: center; */
  text-align: center;
}

#tip-button {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  color: #4B67E9;
  cursor: pointer;
  padding: 10px 20px;
  outline: none;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  border: 2px solid #4B67E9;
  display: block;
  margin: 0 30px auto;
  background: transparent;
  margin-bottom: 40px;
}

#tip-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #4B67E9;
  color: #ffffff;
  transform: translateY(-3px);
}

/* community page css start */

.community-container .row{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.5rem;
  margin-top: 8rem;
}

.community-container .row .image{

  padding: 1rem 2rem;
  margin-left: 10rem;
  
}

.community-container .row .content{
  flex: 1 1 45rem;
}

.community-container .row .content h3{
  font-size: 1.5rem;
  font-size: 2.5rem;
}

.community-container .row .content p{
  font-size: 1.2rem;
  padding: 1rem 0;
  line-height: 2;
  text-align: justify;
  margin-right: 10rem;
}

.community-container .row .content .buttons-container
{
  justify-content: left;
}

.community-container .row .content .buttons-container .community-button{
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), inset 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 40px;
  color: #4B67E9;
  cursor: pointer;
  padding: 10px 20px;
  outline: none;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  border: 3px solid #4B67E9;
  justify-content: left;
  margin-right: 4rem;
  height: 70px;
}
.community-container .row .content .community-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #4B67E9;
  color: #ffffff;
  transform: translateY(-3px);
}
/* community page css ending */


/* start css :start */
.start-container .row{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.5rem;
  margin-top: 5rem;
}


.start-container .row .start-image{

  padding: 1rem 2rem;
  margin-left: 10rem;
}

.start-container .row .content{
  flex: 1 1 45rem;
}


.start-container .row .content h3{
  font-size: 2.5rem;
}

.start-container .row .content p{
  font-size: 1.2rem;
  padding: 1rem 0;
  line-height: 2;
  text-align: justify;
  margin-right: 10rem;
}
.start-container .row .content .buttons-container{
  justify-content: left;
}

.start-container .row .content .start-button{
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), inset 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 40px;
  color: #4B67E9;
  cursor: pointer;
  padding: 10px 20px;
  outline: none;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  border: 3px solid #4B67E9;
  justify-content: left;
  height: 70px;
}

.start-container .row .content .start-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #4B67E9;
  color: #ffffff;
  transform: translateY(-3px);
}
/* start css ending */




/* Media Queries */
@media screen and (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;

  }
}

@media screen and (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  .nav-item {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  nav ul li a:hover,a.active {
    background: none;
    color: #4B67E9;
  }

  #check:checked ~ ul {
    left: 0;
  }

}

/* Responsive styles for screens larger than 768px */
@media screen and (max-width: 768px) {
  .content-heading {
    font-size: 30px;
    font-weight: bold;
    /* margin-bottom: 0px; */
  }

  .contact-container {
    padding: 30px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px #d9d9d9, -10px -10px 30px #ffffff;
  }

  .contact-page-heading {
    font-size: 2rem;
  }

  input,
  textarea {
    font-size: 1rem;
    padding: 8px;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }

  label {
    font-size: 1rem;
  }

  .btn-send-message {
    font-size: 1rem;
    padding: 8px;
  }

  .learning-container {
    flex-direction: column;
  }

  .explore-button {
    font-size: 14px;
    padding: 12px 24px;
  }

  .explore-button {
    margin-top: 1rem;
  }

  .disclaimer-tip-card {
    font-size: 18px;
    margin-bottom: 0px;
  }

  .tip-card {
    padding: 50px;
  }

  .tip-card-content {
    padding: 30px;
    max-width: 800px;
  }

  .tip-card-heading {
    font-size: 36px;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  #tip-text {
    font-size: 24px;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  #tip-button {
    font-size: 20px;
    padding: 12px 24px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
  }

  .contact-container {
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 80px;
  }
  
  .contact-page-heading {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .contact-page-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-page-label {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  input,
  textarea {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    box-shadow: inset 5px 5px 10px #d9d9d9, inset -5px -5px 10px #ffffff;
    width: 100%;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
  
  .btn-send-message {
    margin-top: 30px;
    padding: 10px;
    border: none;
    background-color: #ffffff;
    color: #4B67E9;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 29px;
    width: 150px;
    height: 40px;
    display: block;
    margin: 0 auto;
  }
  
  .btn-send-message:hover {
    background-color: #4B67E9;
    color: #ffffff;
  }
/* community  */
  .row {
    flex-direction: column;
  }
  .content {
    margin-top: 20px;
  }
  .image {
    margin-bottom: 20px;
  }
  .buttons-container {
    flex-direction: column;
  }
  .explore-button {
    margin-bottom: 10px;
  }
  .community-container .row .content{
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .community-container .row .content h3{
    font-size: 1.5rem;
    margin: 0 0 0 0;
  }
  .community-container .row .content p{
    margin: 0 0 0 0;
  }
  .community-container .row .image{

    padding: 1rem 1rem;
    margin-left: 10rem;
  }

}

/* 767 screen  */

/* Responsive styles for screens smaller than 768px */
@media screen and (max-width: 767px) {
  .content-heading {
    font-size: 34px;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    
    /* margin-bottom: 0px; */
  }

  .tip-card {
    padding: 30px;
  }

  .tip-card-content {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #bcbcbc, -5px -5px 10px #ffffff;
    max-width: 400px;
  }

  .disclaimer-tip-card {
    font-size: 16px;
  }

  .tip-card-heading {
    font-size: 20px;
    margin-bottom: 15px;
  }

  #tip-text {
    font-size: 16px;
    margin-bottom: 20px;
  }

  #tip-button {
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .accordion-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .accordion {
    margin: 10px 0;
  }
  
  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 56px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 50px;
    /*   box-shadow: inset 5px 5px 10px #bfc7d4, inset -5px -5px 10px #ffffff; */
  }
  
  .accordion-header:hover {
    box-shadow: inset 2px 2px 5px #bfc7d4, inset -2px -2px 5px #ffffff;
  }
  
  .accordion-toggle {
    font-size: 1rem;
    font-weight: bold;
    color: #2d3c4f;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .accordion-body {
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    transition: max-height 0.3s ease;
    color: #000000;
  }
  
  .accordion.active .accordion-body {
    max-height: 400px;
    padding: 8px;
    padding-left: 20px;
  }
  

  .contact-container {
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 80px;
  }
  
  .contact-page-heading {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .contact-page-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-page-label {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  input,
  textarea {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    box-shadow: inset 5px 5px 10px #d9d9d9, inset -5px -5px 10px #ffffff;
    width: 100%;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
  
  .btn-send-message {
    margin-top: 30px;
    padding: 10px;
    border: none;
    background-color: #ffffff;
    color: #4B67E9;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 29px;
    width: 150px;
    height: 50px;
    display: block;
    margin: 0 auto;
  }
  
  .btn-send-message:hover {
    background-color: #4B67E9;
    color: #ffffff;
  }

}
/* 480 screen  */
@media screen and (max-width: 480px) {
  .content-heading {
    font-size: 20px;
    font-weight: bold;
  }

  .contact-container {
    background-color: #ffffff;
    padding: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    max-width: 250px;
    margin: 0 auto;
    margin-top: 80px;
  }
  
  .contact-page-heading {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .contact-page-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-page-label {
    font-size: 1rem;
    margin-top: 4px;
  }
  
  input,
  textarea {
    padding: 4px;
    margin: 6px 0;
    border-radius: 10px;
    border: none;
    box-shadow: inset 5px 5px 10px #d9d9d9, inset -5px -5px 10px #ffffff;
    width: 100%;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
  
  .btn-send-message {
    margin-top: 30px;
    padding: 10px;
    border: none;
    background-color: #ffffff;
    color: #4B67E9;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    width: 130px;
    height: 40px;
    display: block;
    margin: 0 auto;
  }
  
  .btn-send-message:hover {
    background-color: #4B67E9;
    color: #ffffff;
  }

}